NET "Up" LOC => "A7";
NET "Dow" LOC => "M4";
NET "Rig" LOC => "C11";
NET "Lef" LOC => "G12";
NET "reset" LOC => "P11";
NET "clk" LOC => "G6";
NET "RGB(7)" LOC => "F13";
NET "RGB(6)" LOC => "D13";
NET "RGB(5)" LOC => "C14";
NET "RGB(4)" LOC => "G14";
NET "RGB(3)" LOC => "G13";
NET "RGB(2)" LOC => "F14";
NET "RGB(1)" LOC => "J13";
NET "RGB(0)" LOC => "H13";
NET "Hsinc" LOC => "J14";
NET "Vsinc" LOC => "K13";
